# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# create-react-app want's to generate .eslintcache everytime in root dir.
.eslintcache

# sisu course data is over 100 MB, go download it on your own
# https://opendata.tuni.fi/tau-curriculum-data/
sisu-course-data.json